/* AboutPage.css */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');
@keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
 
.main{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    color: aliceblue;
    animation: slideUp 3s ease-out forwards;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}
  
 