// page.module.sass

@import "./styles/helper.sass"

.container
  margin-top: px(100)
  display: flex
  flex-direction: column
  align-items: center
  gap: px(80)
  padding: px(20)

.card
  position: relative
  cursor: pointer

.canvas
  display: block
  max-width: px(800)
  width: 100%
  height: auto
  transition: opacity 0.8s ease
  cursor: pointer