html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -5;
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
/*  
  position: absolute;
 background-color: black;
 z-index: -5; */
}