/* 引入字体 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400&display=swap');
@font-face {
  font-family: 'Montserrat SemiBold Italic';  
  src: url('/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');  
}

@font-face{
  font-family: 'helve';  
  src: url('/fonts/HelveticaNowDisplay-Regular.ttf') format('truetype');  
}
 
 
@keyframes rotateAndZoom {
  0% {
    transform: scale(2) rotate(30deg);  
  }
  100% {
    transform: scale(1) rotate(0deg); /* 完成一整圈旋转 */
  }
}
/* 应用动画到 main::before */
.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 125px;
  padding-right: 125px;
  padding-top: 46px;
  margin-bottom: 125px;
}

/* 黑色背景 */
.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -2; /* 确保它在最底层 */
}

/* 背景图片动画 */
.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/cover2.svg);
  background-size: cover;
  background-position: center;
  z-index: -1; /* 将背景图片置于内容之后 */
  animation: rotateAndZoom 3s  ; /* 应用动画 */
}

.content{
  display: flex;
  height:1000px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mainline{
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 60px;
}
.customButton{
  border: 2px solid rgba(255, 255, 255, 0.335) !important;
  background-color: transparent !important;
  color: white !important;
  border-radius: 51px !important;
  padding: 10px 20px !important;
  font-family: 'Montserrat SemiBold Italic',sans-serif;
}
.footer{
  display: flex;
  justify-content: center;
  margin-bottom:5%;
}
.nav{
  display: flex;
  justify-content: flex-end;

}
.icon{
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 30px ;
  cursor: pointer ;
}
#github{
  background-image: url('/github.svg');
}
#linkedin{
  background-image: url('/linkedin.svg');
}
#email{
  background-image: url('/email.svg');
}
#medium{
  background-image: url('/medium.svg');
}
#instagram{
  background-image: url('/instagram.svg');
}
#menu{
  background-image: url('/menu-2.svg');
}
.aboutSection {
  visibility: hidden;
  height: 100vh;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1.0);
  width: 100vw;
  
 
 
}

.aboutSectionVisible {
  visibility: visible;
  height: 100vh;
  width: 100vw;
  font-size: 16px !important;
  font-weight: 300 !important;
  font-family: 'Urbanist', sans-serif; /* 使用引入的 Urbanist 字体 */
  color: #a9a9a9;
 
 
}

.aboutSectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh ;
  width: 100vw;
 
  color:#ffffff;

  padding: 0 10%;
}
.secondMain{
  margin : 40px;
  margin-left: 60px;
 
}
.secondNav{
 
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.intro{
  font-family: 'helve';
  margin-right: 40px;
  font-size: 38px;
  color: #DEDEDE
}
.intro2{
  display: flex;
  height: 300px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.avatar{
  width:100%;
  height: 300px;
  background-image: url('/avatar.png');
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
 
}
