/* 引入字体 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

/* 应用字体 */
 
.main {
   
  
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(/cover2.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white; 
}
.content{
  display: flex;
  height:1000px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  overflow: hidden;
}

.mainline{
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 60px;
}
.customButton{
  border: 2px solid rgba(255, 255, 255, 0.335) !important;
  background-color: transparent !important;
  color: white !important;
  border-radius: 51px !important;
  padding: 10px 20px !important;

}