/* 引入字体 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
@font-face {
  font-family: 'Montserrat SemiBold Italic';  /* 你可以自定义这个名字 */
  src: url('/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype'); /* 替换为你的字体文件的URL */
}

 

/* 应用字体 */
 
.main {
   

  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(/cover2.svg);
  background-size:cover;
  display: flex;
  flex-direction: column;
  color: white; 
  margin-right: 125px;
  padding-right: 125px;
  padding-top: 46px;
  margin-bottom: 125px;
}
.content{
  display: flex;
  height:1000px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  overflow: hidden;
}

.mainline{
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 60px;
}
.customButton{
  border: 2px solid rgba(255, 255, 255, 0.335) !important;
  background-color: transparent !important;
  color: white !important;
  border-radius: 51px !important;
  padding: 10px 20px !important;
  font-family: 'Montserrat SemiBold Italic',sans-serif;
}
.footer{
  display: flex;
  justify-content: center;
  margin-bottom:5%;
}
.nav{
  display: flex;
  justify-content: flex-end;

}
.icon{
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 30px ;
  cursor: pointer ;
}
#github{
  background-image: url('/github.svg');
}
#linkedin{
  background-image: url('/linkedin.svg');
}
#email{
  background-image: url('/email.svg');
}
#medium{
  background-image: url('/medium.svg');
}
#instagram{
  background-image: url('/instagram.svg');
}
#menu{
  background-image: url('/menu-2.svg');
}
 
 